fastapi
uvicorn
pyjwt[crypto]
cachetools
python-multipart
pydantic-settings
weaviate-client
Pillow
sentence_transformers
sqlalchemy
sqlalchemy_utils
psycopg2-binary
# dependency_injector
py-automapper